* {
	margin: 10px auto;
	box-sizing: border-box;
	font-family: 'Slabo 27px', serif;
}

#page-wrap {
	width: 800px;
	margin: 0 auto;
}

li {
	padding: 100px;
	text-align: center;
	display: inline;
}

a{
	color: #aa00e5;
}

h1 {
	text-align: center;
}

.text {
	float: left;
	width: 30%;
	margin: 5px;
}

img.self {
	float: left;
	width: 28%;
	margin: 5px;
}

div.img {
	float: left;
	width: 180px;
	margin: 5px;
	border: 1px solid purple;
}

div.img img {
	width: 100%;
	height: auto;
}

div.caption {
	padding: 15px;
	font-family: "Helvetica";
	text-align: right;
}
