* {
	box-sizing: border-box;
	font-family: 'Slabo 27px', serif;
}

ul {
    list-style-type: none;
    background-color: #aa00e5;
    position: fixed;
    overflow: auto;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%; 
}